.progressLine {
    width: 100%;
    height: 5rem;
    background-color: #eeeeee;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-weight: bolder;
    color: #000000;

}
.progressLine .stepWrapper {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: space-between;
}
.progressLine .finalStepWrapper {
    width: 100%;
    height: 5rem;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.progressLine .stepWrapper .linearOn {
    width: 100%;
    height: 0.5rem;
    margin: 1.25rem 0rem;
    border-radius: 0.25rem;
    background: #f26323;
}
.progressLine .stepWrapper .linearOff {
    width: 100%;
    height: 0.5rem;
    margin: 1.25rem 0rem;
    border-radius: 0.25rem;
    background: #c2cfd8;
}
.progressLine .finalStepWrapper .linearOff {
    width: 100%;
    height: 0.5rem;
    margin: 1.25rem 0rem;
    border-radius: 0.25rem;
    background: #c2cfd8;
}
.progressLine .finalStepWrapper .linearOn {
    width: 100%;
    height: 0.5rem;
    margin: 1.25rem 0rem;
    border-radius: 0.25rem;
    background: #f26323;
}
.progressLine .stepWrapper .wrapper {
    width: auto;
    gap: 0rem;
    background-color: none;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.progressLine .finalStepWrapper .wrapper {
    width: auto;
    gap: 0rem;
    background-color: none;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.progressLine .stepWrapper .wrapper .circleOn {
    width: 3rem;
    height: 3rem;
    background: #f26323;
    border-radius: 1.5rem;
    object-fit: contain;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
    color: #ffffff
}
.progressLine .stepWrapper .wrapper .circleOn .imageTick{
    width: 3rem;
    height: 3rem;
    /* background: #000000; */
    object-fit: contain;
    transform: scale(0.75);
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
.progressLine .stepWrapper .wrapper .circleOff {
    width: 3rem;
    height: 3rem;
    background: #c2cfd8;
    border-radius: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
    color: #ffffff
}
.progressLine .stepWrapper .wrapper .labelOn {
    width: fit-content;
    height: 2rem;
    
    display: flex;
    align-items: flex-end;
    text-align: center;

    font-size: 1.5rem;
    color: #000000;
}
.progressLine .stepWrapper .wrapper .labelOff {
    width: fit-content;
    height: 2rem;
    
    display: flex;
    align-items: flex-end;
    text-align: center;

    font-size: 1.5rem;
    color: #c2cfd8;
}
.progressLine .finalStepWrapper .wrapper .labelOff {
    width: fit-content;
    height: 2rem;
    
    display: flex;
    align-items: flex-end;
    text-align: center;

    font-size: 1.5rem;
    color: #c2cfd8;
}
.progressLine .finalStepWrapper .wrapper .labelOn {
    width: fit-content;
    height: 2rem;
    
    display: flex;
    align-items: flex-end;
    text-align: center;

    font-size: 1.5rem;
    color: #000000;
}